body{
  background-color: #ededed !important;
 }
.my-nav{ 
  background-color: white !important;
  padding-left: 83px !important;
  padding-right: 83px !important;
  cursor: pointer;
}

span{
  color: black !important;
}
.btn{
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif !important;
  font-weight: bold !important;
  font-size: 14px !important;
  border-color: #f68b1e !important;
  padding: 10px 16px 10px 16px !important;
  margin-left: 8px !important;
  background-color: #f68b1e !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%) !important;
  text-align: center !important;
  text-transform: uppercase;
  color: white !important;
}

input{
  width: 300px !important;
  height: 42px !important;
  padding: 1px 1px 1px 1px !important;
  margin-right: 8px !important;
}
a.nav-link{
  font-size: 16px !important;
  padding: 0;
}
a.nav-link:hover{
color: #f68b1e !important;
}
a.nav-link:checked{
  background-color: #ededed !important;
}
.my-drop1{
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif !important;
  font-size: 14px !important;
}
.my-drop1:hover{
  color: black !important;
  background: #ededed !important;
}
aside{
  cursor: pointer;
  margin-right: 8px !important;
  width: 200px !important;
  padding-left: 8px !important;
  padding-right: 0px !important;
}
.my-drop2{
  background-color: white !important;
  color: black !important;
  font-size: 12px !important;
  padding-left: 8px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 200px !important;
  height: 32px !important;
}  
.my-span{
  margin-right: 4px !important;
  width: 20px !important;
  height: 20px !important;
}
/* .col-6{
  width: 712px !important;
  padding: 0px !important;
  margin-left: 8px !important;
  margin-right: 8x !important;
} */

a.nav-link.active{
  padding: 0px !important;
  width: 70px !important;
  height: 26px !important;
}
#sidebar{
  width: 206px;
  height: 384px;
}
#icon2{
  width: 20px;
  height: 20px;
  margin: 0px 4px 0px 0px;
}
#row1{
  cursor: pointer;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 392px !important;
  width: 1184px !important;
}
#col6{
  width: 712px;
  height: 384px;
  margin-right: 0px !important;
}
#col3{
  width: 218px;
  height: 384px;
  margin-left: 0px;
}
#div1{
  width: 218px;
  height: 184px;
  background-color: white;
  margin-bottom: 16px;
}
#flex{
  display: flex;
  flex-direction: inherit;
  text-decoration: none;
  color: black;
  width: 186px;
  height: 35px;
  padding-left: 10px;
  padding-top: 8px;
  margin-bottom: 25px;
}
#div11{
  padding-left: 8px;
}
#l1{
  font-size: 14px;
}
#l2{
  font-size: 12px;
  width: 144px;
  height: 16px;
}
#div2{
  width: 218px;
  height: 184px;
}
#row2{
  cursor: pointer;
  width: 1184px;
  height: 56px;
  padding: 8px 0px;
}
#a{
  display: flex;
  flex-direction: inherit;
  text-decoration: none;
  background-color: white;
  color: black;
  width: 280px !important;
  height: 56px;
  padding: 8px; 
}
#col4{
  width: 280px;
  height: 56px;
  border-radius: 5px;
  width: 25% !important;
}
#c1{
  color: #282828;
  width: 208px;
  height: 21px;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500px;
}
#row3{
  width: 1184px;
}
.card{
  cursor: pointer;
  width: 193px;
  height: 330px;
  box-shadow: #ededed;
  border-radius: 4px;
}
img{
  position: relative;
}
#prcent{
  font-size: 12px;
  background-color: #feefde;
  color: orangered;
  width: 36px !important;
  height: 24px !important;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
}
#txt{
  font-size: 14px;
  padding: 0px !important;
  height: 26x;
  margin: 0px;
}
#pr{
  text-decoration: line-through;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 4px;
}
p.card-text{
 padding: 0 !important;
  height: 32px ;
  margin: 0px;
}
strong{
  color: #282828 !important;
}
small.text-muted{
  font-size: 12px !important;
  padding-top: 6px !important;
  height: 26x;
  margin: 0px; 
}
